$francois: 'Francois One', sans-serif;
$opensans: 'Open Sans', sans-serif;

#content {
  margin: 0 auto;
  max-width: 768px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $francois;
}

p {
  font-family: $opensans;
}

h1 {
  text-align: center;
}

a, a:visited {
  text-decoration: none;
  color: #00BF7F;
}

a:hover, a:active  {
  text-decoration: none;
  color: #00402A;
}

.post {
  border-top: 1em solid #007F54;
  margin-bottom: 5em;
  padding: 0 0 0 1em;
}

.subject {
  color: #00402A;
  font-size: 2.5em;
  line-height: 1em;
  margin-bottom: 0.5em;
  
  a {
    color: #00402A;
    text-decoration: none;
  }

  a:hover, a:visited {
    text-decoration: none;
    color: #007F54;
  }
}
.author, .posted-date {
  display: inline-block; 
}

.posted-date {
  color: #a6a6a6;
  font-style: italic;
}

.img-author {
  margin-right: 1em;
  min-width: 60px;
}

.author {
  font-family: $francois;
  line-height: 1em;
  font-size: 1.5em;

  a {
    color: #007F54;
    text-decoration: none;
  }

  a:hover, a:visited {
    text-decoration: none;
  }
}

.message-body, .comment-body {
  font-size: 1.2em;
}

.topic {
  float: left;
  margin-right: 1em;
  background: #00BF7F;
  border-radius: 20px;
  
  a, a:hover, a:visited {
    color: #FFF;
    text-decoration: none;
  } 
}

.view-all {
  background-color: #007F54;
  color: #FFF;
  margin-top: 1.5em;
}

.comment {
  border-top: 1px solid #00E598;
  margin-top: 2em;
}

.comment-wrapper {
  margin-top: 1em;
}

.comment-author {
  font-family: $francois;
  line-height: 1em;
  font-size: 1.25em;

  a {
   color: #00E598;
   text-decoration: none;
  }
}