<article class="container-fluid">
  <ul>
    <li ng-repeat="newsitem in feed" class="post">

        <div class="row origin-post">
          
          <div class="col-xs-12">
            <h2 class="subject">{{ newsitem.subject }}
          </div>

          <div class="col-xs-12">
            <div class="row">
              <div class="col-xs-2">
                <img class="img-responsive img-thumbnail" src="{{ newsitem.author.avatar }}" alt="Avatar" />
              </div>
              <div class="col-xs-10">
                  <h3 class="author"><a href="https://www.streetlife.com/p/{{ newsitem.author.profile_id }}">{{ newsitem.author.display_name}}</a></h3>
                  <p class="posted-date"> around <span am-time-ago="newsitem.posted_at"></span> near {{ newsitem.author.nearest_area.name }}</p> 
                </div>
                <div class="col-xs-10">
                  <div message-body></div>
                </div>
              </div>
            </div>
            
          

          

          <div class="col-xs-12">
            <ul>
            <li ng-repeat="topic in newsitem.topics">
              <p>{{ topic.name }}</p>
            </li>
          </ul>
          </div>

          <div class="col-xs-12 comments">
            <ul>
              <li ng-repeat="comment in newsitem.comments">
                <div class="row">
                  <div class="col-xs-2">
                    <img class="img-responsive img-thumbnail" src="{{ comment.author.avatar }}" alt="Avatar" />
                  </div>
                  <div class="col-xs-10">
                    <h3 class="comment-author"><a href="https://www.streetlife.com/p/{{ comment.author.profile_id }}">{{ comment.author.display_name }}</a></h3>
                    <p class="posted-date"> around <span am-time-ago="comment.updated_at"></span> near {{ comment.author.nearest_area.name }}</p>
                  </div>
                </div>

                <div class="col-xs-12">
                  <div comment-body></div>
                </div>

              </li>
            </ul>

          </div> 

        </div>
          
    </li>
  </ul>
</article>



